:root {
  --color-ARCHIVE: #9ae3b7;
  --color-BINARY: #e6cda3;
  --color-DISK_IMAGE: #f2eac4;
  --color-DOCUMENT: #f0a8a8;
  --color-MUSIC: #eab0e3;
  --color-PICTURE: #95dbda;
  --color-VIDEO: #9baadd;
  --color-OTHER: #f0efe6;
  --color-INACTIVE: #bebcba;

  --color-gray-100: #f8f9fc;
  --color-gray-200: #f1f3f9;
  --color-gray-300: #dee3ed;
  --color-gray-400: #c2c9d6;
  --color-gray-500: #8f96a3;
  --color-gray-600: #5e636e;
  --color-gray-700: #2f3237;
  --color-gray-800: #1d1e20;
  --color-gray-900: #111213;

  --color-tree-selected: #fbc800;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    '微软雅黑', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a {
  color: var(--ep-color-primary);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--ep-color-primary-light-9);
  color: var(--ep-color-primary);
}

// taken fron bootstrap4
.d-flex {
  display: flex;
}

.bordered {
  border: 1px solid black;
}

.w-100 {
  width: 100%;
}

.justify-content-between {
  justify-content: space-between !important;
}

.text-decoration-line-through {
  text-decoration: line-through;
}

.user-select-none {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.cursor-pointer {
  cursor: pointer;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
