:root {
  --color-ARCHIVE: #9AE3B7;
  --color-BINARY: #E6CDA3;
  --color-DISK_IMAGE: #F2EAC4;
  --color-DOCUMENT: #F0A8A8;
  --color-MUSIC: #EAB0E3;
  --color-PICTURE: #95DBDA;
  --color-VIDEO: #9BAADD;
  --color-OTHER: #F0EFE6;
}

body {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    '微软雅黑', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

a {
  color: var(--ep-color-primary);
}

code {
  border-radius: 2px;
  padding: 2px 4px;
  background-color: var(--ep-color-primary-light-9);
  color: var(--ep-color-primary);
}

.d-flex {
  display: flex;
}

.bordered {
  border: 1px solid black;
}

.w-100 {
  width: 100%;
}


.justify-content-between {
  justify-content: space-between !important;
}



.text-decoration-line-through {
  text-decoration: line-through;
}

.user-select-none {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.cursor-pointer {
  cursor: pointer;
}